.countries
  &-figure
    position relative
    .figure-warning
      display block
      &.is-hidden
        display none
  .figure-container
    max-width 25rem
    margin 2rem auto 0 auto
    height auto
    overflow hidden
    position relative
    display block
    &.is-hidden
      display none
    &.is-truncated
      height 700px
      overflow hidden
    .location, .header
      display flex
      padding 0.25rem 0.5rem
      border-bottom 1px solid $gray-light
      font-family $national
      align-items: baseline;
      &.international
        background-color none
      p
        margin 0.25rem 0
      .location-rank
        set-type-size('small')
        color $gray
        flex 1 0 20%
      .location-count
        align-self: flex-end;
        flex 1 0 30%
        text-align center
      .location-name
        flex 1 0 50%
    .header
      p
        set-type-size('small')
        text-transform uppercase
        color $gray-dark
  .transparency
    position absolute
    width 100%
    height 5rem
    background linear-gradient(rgba($bg, 0), $bg)
    bottom 0
    visibility hidden
    pointer-events none
    &.is-visible
    	visibility visible

  .figure-toggles
    font-family $national
    set-type-size('small')
    margin 2rem auto 0 auto
    max-width $column-width
    display flex
    justify-content center
    align-items: center;
    .wrapper-check
      position relative
      &:first-of-type
        margin-right 2rem
      label
        margin-left 1.8rem
        set-type-size('large')
        height 20px
        line-height 1.1
      input
        height 20px
        left 0
        opacity 0
        position absolute
        top 0
        width 20px
      input, label::before
        border 1px solid $brown-dark
        content ''
        height 20px
        left 0
        position absolute
        top 0
        width 20px
      input, label::after
        content ''
        border 2px solid $brown-dark
        border-left 0
        border-top 0
        height 10px
        left 7px
        opacity 0
        position absolute
        top 3px
        transform rotate(45deg)
        transition opacity 0.1s ease-in-out
        width 6px
      input:checked + label::after
        opacity 1

    .toggle
      set-type-size('small')
      text-transform uppercase
      color $gray
      border 1px solid $gray-light
      padding 0.25rem 0.5rem
      margin 0 0.25rem
      &:hover
        background-color rgba($gray-light, 0.1)
      &.is-active
        background-color $orange
        color $bg
