.exported
  .exported-figure
    position relative
  .figure-container
    display flex
    flex-wrap wrap
    max-width 54rem
    margin 1rem auto
    overflow hidden
    //height 600px
    &.is-expanded
      height auto
      transition height 300ms ease-in-out
      overflow none
    .state
      margin 1rem 1.5rem
      &-name
        font-family $national
        set-type-size('small')
        text-align left
        margin 0.5rem 0
        text-transform uppercase
        border-bottom 1px dashed $off-black
        padding-bottom 0.2rem
    .container-mini
      display flex
      flex-wrap wrap
      flex 1
      .dog
        width 42px
        height 31px
        // background-image url('assets/images/pinkDog.png')
        background-size contain
        background-repeat no-repeat

  .bttn-wrapper
    max-width 5.5rem
    margin 0 auto
    cursor pointer

    .show-more
      font-family $national
      text-transform uppercase
      color $gray
      border 1px solid $gray-light
      padding 0.25rem
      width 100%
      display inline-block
      set-type-size('small')
      &:hover
        background-color rgba($gray-light, 0.1)
      &.is-disabled
        display none



  .transparency
    position absolute
    width 100%
    height 5rem
    background linear-gradient(rgba($bg, 0), $bg)
    bottom 0
    visibility hidden
    pointer-events none
    &.is-visible
    	visibility visible
