.exported
  display block
  &.is-hidden
    display none


  .prose-block
    display block
    line-height 42px
    &.is-hidden
      display none
  &-figure
    position relative
    margin-top 2rem
  .figure-container
    display flex
    flex-wrap wrap
    max-width 54rem
    margin 1rem auto
    height auto
    transition height 300ms ease-in-out
    overflow none
    &.is-clipped
      height 400px
      overflow hidden
    .state
      margin 1rem 1.5rem
      &-name
        font-family $national
        set-type-size('small')
        text-align left
        margin 0.5rem 0
        text-transform uppercase
        border-bottom 1px dashed $off-black
        padding-bottom 0.2rem
    .container-mini
      display flex
      flex-wrap wrap
      flex 1
      .dog
        width 31px
        height 22px
        // background-image url('assets/images/pinkDog.png')
        background-size contain
        background-repeat no-repeat
        opacity 1
        transition 100ms ease-in-out
        +mq('bp-3')
          width 42px
          height 31px
        // &.highlighted
        //   border-bottom 2px solid $orange
        //   background-color $white
        &.dimmed
          opacity 0.3
          transition 100ms ease-in-out

  .tooltip
    position absolute
    border 1px solid $brown-dark
    background-color $bg
    opacity 1
    pointer-events none
    box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
    padding 0.5rem 0.75rem
    &.is-hidden
      opacity 0
    p
      margin 0
    &-name
      font-family $tiempos
      text-align center
      font-weight bold
    &-desc
      font-family $national
      set-type-size('small')
    &-breed
      font-family $national
      set-type-size('small')
      margin 0




  .transparency
    position absolute
    width 100%
    height 5rem
    background linear-gradient(rgba($bg, 0), $bg)
    bottom 0
    visibility hidden
    pointer-events none
    &.is-visible
    	visibility visible

  .figure-meta
    display flex
    flex-wrap wrap
    align-items baseline
    justify-content center
    font-family $tiempos

    select
      font-family $national
      font-weight bold
      -webkit-appearance none
      -moz-appearance none
      background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
      background-size 15px
      background-position calc(100% - 10px) 80%
      background-repeat no-repeat
      margin 0 1rem
      set-type-size('root')
      width 140px
      border 0
      outline 0
      border-bottom 3px solid $off-black
      border-radius 0
      line-height 36px
      +mq('bp-3')
        set-type-size('x-large')
        width 200px
