.exported
  .exported-figure
    position relative
  .figure-container
    display flex
    flex-wrap wrap
    max-width 54rem
    margin 0 auto
    height 500px
    overflow hidden
    &.is-expanded
      height auto
      transition height 300ms ease-in-out
      overflow none
    .state
      margin 1rem 1.5rem
      &-name
        font-family $national
        set-type-size('large')
        text-align left
        margin 0.5rem 0
        font-weight bold
    .container-mini
      display flex
      flex-wrap wrap
      flex 1
      .dog
        width 35px
        height 35px
        // background-image url('assets/images/pinkDog.png')
        background-size contain
        background-repeat no-repeat
        margin 0.1rem

  .bttn-wrapper
    max-width 5.5rem
    margin 0 auto
    cursor pointer

    .show-more
      font-family $national
      text-transform uppercase
      color $gray
      border 1px solid $gray-light
      padding 0.25rem
      width 100%
      display none
      set-type-size('small')
      &:hover
        background-color rgba($gray-light, 0.1)
      &.is-visible
        display inline-block


  .transparency
    position absolute
    width 100%
    height 5rem
    background linear-gradient(rgba($bg, 0), $bg)
    bottom 0
    visibility hidden
    pointer-events none
    &.is-visible
    	visibility visible
