.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem
	background-color $pink

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	.article-meta
		margin 0 auto 3rem auto
		font-family $national
		set-type-size('x-large')
		max-width $column-width
		padding 0 1rem

	&__byline
		margin-top 1rem
		text-align left
		set-type-size('x-large')

	&__time
		display block
		margin-top 1rem
		text-align left

	.prose-intro
		span
			font-weight bold
			color $orange

	.intro-dog
		max-width 54rem
		padding 2rem 3rem
		margin 5rem auto 0 auto
		background-color $white
		&_image
			float left
			width 150px
			height auto
			margin-right 1rem
			margin-top 1rem
		&_out
			display none
			&.is-visible
				display block
		&_in
			display none
			&.is-visible
				display block

	.stateSelect
		cursor pointer
		height 2.5rem
		width 10rem
		line-height 1.7
		background-color $orange
		color $off-white
		border none
		font-family $tiempos
		set-type-size('large')
		font-weight bold

	.intro-dog__bar
		.bars
			display flex
			.bar
				height 70px
				padding 0 0.5rem
				p
					font-family $national
					set-type-size('small')
			.bar__inState
				background-color $orange-light
				p
					color $brown-dark
			.bar__outState
				background-color $brown-dark
				p
					color $orange-light
					text-align right
		.labels
			display flex
			justify-content: space-between;
			h4
				font-family $national
				margin 0
				text-transform: uppercase;
				set-type-size('small')
