.intro
	margin 0 auto
	padding 3rem 1rem 0rem 1rem
	background: linear-gradient(to bottom, $pink 0%,$pink 70%,$bg 70%,$bg 100%);
	position relative
	.space
		height 200vh

	.hero-img
		max-width $column-width
		margin 0 auto 1rem auto

	&__hed
		max-width 60rem
		margin 0 auto 2rem auto
		text-align center
		font-family $tiempos
		set-type-size('xxxx-large')
		font-weight bold

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	.article-meta
		margin 0 auto 3rem auto
		font-family $national
		set-type-size('x-large')
		max-width $column-width
		padding 0 1rem

	&__byline
		margin 1rem auto 0 auto
		text-align center
		set-type-size('large')


	&__time
		display none
		margin-top 1rem
		text-align left

	.prose-intro
		display block
		line-height 42px
		&.is-hidden
			display none
		span
			font-weight bold
			color $orange
	.prose-introNevada
		display block
		&.is-hidden
			display none

	.prose-block
		display block
		line-height 42px
		&.is-hidden
			display none

	.intro-dog
		max-width 54rem
		padding 2rem 3rem
		margin 3rem auto 3rem auto
		background-color $white
		display block
		position sticky
		top 15vh
		&.is-hidden
			display none
		&_image
			float left
			width 150px
			height auto
			margin-right 1rem
			margin-top 1rem
		&_out
			display none
			&.is-visible
				display block
		&_in, &_inEx
			display none
			&.is-visible
				display block


	.intro-dog__bar
		margin 1rem 0
		display block
		&.is-hidden
			display none
		.bars
			display flex
			.bar
				height 50px
				padding 0 0.5rem
				p
					font-family $national
					set-type-size('small')
			.bar__inState
				background-color $orange-lightest
				display flex
				align-items center
				p
					color $brown-dark
					margin 0
			.bar__outState
				background-color $orange
				display flex
				align-items center
				justify-content flex-end
				p
					color $brown-dark
					text-align right
					margin 0
		.labels
			display flex
			justify-content: space-between;
			h4
				font-family $national
				margin 0.2rem 0 0 0
				text-transform: uppercase;
				set-type-size('small')

	.stateSelect
		cursor pointer
		height 2.5rem
		width 16rem
		line-height 42px
		background-color $orange
		color $off-white
		border none
		font-family $tiempos
		set-type-size('xx-large')
		font-weight bold
