.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	.article-meta
		margin 0 auto 3rem auto
		font-family $national
		set-type-size('x-large')
		max-width $column-width
		padding 0 1rem

	&__byline
		margin-top 1rem
		text-align left
		set-type-size('x-large')

	&__time
		display block
		margin-top 1rem
		text-align left

	.prose-intro
		span
			font-weight bold
			color $orange

	.intro-dog
		max-width 54rem
		padding 2rem 3rem
		margin 5rem auto 0 auto
		background-color $white
		&_image
			float left
			width 170px
			height auto
			margin-right 1rem
			margin-top 1rem
		&_out
			display none
			&.is-visible
				display block
		&_in
			display none
			&.is-visible
				display block
