.movement
  background-color $orange
  figure
    height 600px
    svg
      margin 0 auto
      .land
        fill $white

      .state-borders
        fill none
        stroke $orange

      .movement-arc
        fill none
        stroke $pink
        opacity 0.2
