/* CUSTOM STORY STYLE */
.figure-meta
  max-width $column-width
  padding 0 1rem
  margin 0 auto
.figure-title
  font-family $tiempos
  set-type-size('xx-large')
  color $brown-dark
  text-align: center
  span
    font-weight bold
.figure-sub
  font-family $national
  set-type-size('small')
  text-align center
  margin-top 0.5rem

.interactive-title
  font-family $national
  set-type-size('x-large')

.figure-note
  margin 2rem auto
  max-width $column-width
  padding 0 1rem
  set-type-size('small')
  font-family $national
  color $brown-dark

#methods
  max-width $column-width
  margin 0 auto
  padding 0 1rem
  h4
    font-family $tiempos
    font-weight bold
    set-type-size('large')
  p
    font-family $national
    set-type-size('medium')

.parallax
  height 1000px
  width 100%
  //background-color $pink
  background-image url('https://cdn.pixabay.com/photo/2019/08/19/07/45/pets-4415649_960_720.jpg')
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover

.bttn-wrapper
  max-width 5.5rem
  margin 0 auto
  cursor pointer

  .show-more
    font-family $national
    text-transform uppercase
    color $brown-dark
    border 1px solid $brown-dark
    padding 0.25rem
    width 100%
    display inline-block
    set-type-size('small')
    &:hover
      background-color rgba($gray-light, 0.1)
    &.is-disabled
      display none

.midText
  margin 3rem auto
  max-width 88px
  height auto

.figure-warning
  max-width 28rem
  text-align center
  margin 2rem auto
  font-family $tiempos
  set-type-size('large')
  display none
  &.is-visible
    display block
