/* CUSTOM STORY STYLE */
.figure-meta
  max-width $column-width
  padding 0 1rem
  margin 0 auto
.figure-title
  font-family $tiempos
  set-type-size('xx-large')
  color $brown-dark
  text-align: center
  span
    font-weight bold
.figure-sub
  font-family $national
  set-type-size('medium')
  text-align center
  margin-top 1rem

.figure-note
  margin 2rem auto
  max-width $column-width
  padding 0 1rem
  set-type-size('small')
  font-family $national
  color $brown-dark

#methods
  max-width $column-width
  margin 0 auto
  padding 0 1rem
  h4
    font-family $tiempos
    font-weight bold
    set-type-size('large')
  p
    font-family $national
    set-type-size('large')
