/* CUSTOM STORY STYLE */
.figure-meta
  max-width $column-width
  padding 0 1rem
  margin 0 auto
.figure-title
  font-family $tiempos
  set-type-size('xx-large')
  color $brown-dark
  text-align: center
  span
    color $orange
    font-weight bold
.figure-sub
  font-family $national
  set-type-size('medium')
  text-align: center;
