<section class='countries'>
  <figure class='countries-figure'>

    <div class='figure-meta'>
      <h3 class='figure-title'>{{{doc.countriesTitle}}}</h3>
      <h4 class='figure-sub'>{{{doc.countriesSub}}}</h4>
      <div class='figure-toggles'>
        Show
        <button class='toggle' data-condition='All'>International & Domestic</button>
        <button class='toggle' data-condition='International'>Only International</button>
        Exports
      </div>
    </div>

    <div class='figure-container is-truncated'>
    </div>

    <div class='transparency is-visible'></div>

  </figure>

  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>

</section>
