<section class='countries'>
  <div class='countries-figure'>

    <div class='figure-meta'>
      <h3 class='figure-title'>{{{doc.countriesTitle}}}</h3>
      <h4 class='figure-sub'>{{{doc.countriesSub}}}</h4>
      <div class='figure-toggles'>

        <div class='wrapper-check'>
          <input id='list-1' name='table-filter' type='checkbox' value='domestic' checked>
          <label for='list-1'>US States</label>
        </div>

        <div class='wrapper-check'>
          <input id='list-2' name='table-filter' type='checkbox' value='international' checked>
          <label for='list-2'>International*</label>
        </div>

      </div>

      <p class='figure-warning is-hidden'>{{{doc.countriesWarning}}}</p>
    </div>

    <div class='figure-container is-truncated'>
      <table></table>
    </div>

    <div class='transparency is-visible'></div>

  </div>

  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>

  <div class='figure-note'>{{{doc.countriesNote}}}</div>

</section>