<section class='exported'>
  <figure class='exported-figure'>

    <div class='figure-meta'>
      <!-- <h3 class='figure-title'>{{{doc.exportedTitle}}}</h3> -->
      <h3 class='figure-title'>Where dogs</h3>
        <button class='toggle' role='switch' aria-checked='true' aria-labelledby='figure-title'>
            <span class='button-label'>Imported To</span>
            <span class='button-label'>Exported From</span>
        </button>
      <select class='stateSelect' data-condition='all'>Washington</select>
      <h3 class='figure-title'>Go</h3>
      <h4 class='figure-sub'>{{{doc.exportedSub}}}</h4>
    </div>

    <div class='figure-container'>
    </div>

    <div class='transparency is-visible'></div>

  </figure>

  <div class='exported-tooltip tooltip is-hidden'>
    <p class='tooltip-name'></p>
    <p class='tooltip-desc'></p>
    <p class='tooltip-breed'></p>
  </div>

  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>

  <div class='figure-note'>{{{doc.exportNote}}}</div>
</section>
