<section class='exported'>
  <figure class='exported-figure'>

    <div class='figure-meta'>
      <h3 class='figure-title'>{{{doc.exportedTitle}}}</h3>
      <h4 class='figure-sub'>{{{doc.exportedSub}}}</h4>
    </div>

    <div class='figure-container'>
    </div>

    <div class='transparency is-visible'></div>

    <div class='exported-tooltip tooltip is-hidden'>
      <p class='tooltip-text'></p>
    </div>
  </figure>

  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>
</section>
