<section class='movement'>
  <figure class='movement-figure'>

    <div class='figure-meta'>
      <h3 class='figure-title'>{{{doc.movementTitle}}}</h3>
      <h4 class='figure-sub'>{{{doc.movementSub}}}</h4>
    </div>

    <div class='figure-container'>
      <svg class='figure-container_svg'></svg>
    </div>
  </figure>


</section>
