<section class='northern'>
  <figure class='northern-figure'>

    <div class='figure-meta'>
      <h3 class='figure-title'>{{{doc.northernTitle}}}</h3>
      <h4 class='figure-sub'>{{{doc.northernSub}}}</h4>
    </div>

    <div class='figure-container'>
    </div>
  </div>
</section>
