<section class='outro'>
{{#each doc.postCountries1}}
  <p class='prose'>{{{value}}}</p>
{{/each}}

<img class=midText src=assets/images/boxer.gif>

{{#each doc.postCountries2}}
  <p class='prose'>{{{value}}}</p>
{{/each}}
</section>
